body, html {
	position: relative;
	height: 100%
}

hr {
	margin-top: 3em;
	margin-bottom: 3em
}

main h1, main h2, main h3, main h4, main h5, main h6 {
	padding-bottom: 0.5em;
	color: #333;
	font-weight: normal;
}

pre {
	margin-top: 2em !important;
	margin-bottom: 3em !important
}

blockquote {
    background: #f3f3f3;
    border-left: 5px solid #2780e3;
    padding: 0.5em;
    padding-left: 1em;
    font-style: italic;
}

.header {
	position: relative;
	background: url(../img/header.jpg) no-repeat center center fixed rgba(0, 0, 0, 0);
	background-size: cover;
	overflow: hidden
}

.header:before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	background: rgba(0, 0, 0, 0.93);
}

.jumbotron {
	position: relative
}

.jumbotron.center {
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	width: 100%
}

.jumbotron h1 {
	word-wrap: break-word
}

.toTop {
	position: fixed;
	bottom: 2em;
	right: 1em;
	display: none
}

#goHome {
	position: absolute;
	bottom: 5em;
	left: 0;
	width: 100%;
	text-decoration: none;
	-webkit-animation: waiting 1s infinite linear;
	animation: waiting 1s infinite linear
}

@media (max-width:700px) {
	#goHome {
		bottom: 1em
	}

}

@-webkit-keyframes waiting {
	from {
		-webkit-transform: translate(0, 20%);
		transform: translate(0, 20%)
	}

}

@keyframes waiting {
	from {
		-webkit-transform: translate(0, 20%);
		transform: translate(0, 20%)
	}

}




.post {
    padding: 0.5em;
}

.post-image {
	width: 100%;
	max-height: 20em;
	overflow: hidden;
	margin-bottom: 0.5em;
	border: 4px solid #ddd;
	box-shadow: 0px 9px 8px -8px #4c4b4b;
}

.post-image img {
	width: 100%;
}
.post-header {
    padding: 0.5em;
    color: #868686;
    padding-bottom: 0;
    border-bottom: 1px solid #bdbdbd;
    margin-bottom: 0.3em;
}

.post-body {
    padding: 0.5em;
}

.post-title {
    color: black;
}

.post-title a {
    color: #1f2021;
    text-transform: uppercase;
}

.post-read-more {
    display: block;
    text-align: right;
    color: black;
}

.post-description {
    color: #868e96;
}

.alert p {
	margin: 0;
	padding: 0
}
