@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap");
[data-theme="dark"]{background-color:#111!important;color:#fff;}
[data-theme="dark"] a{color:#fff;}
[data-theme="dark"] a:hover{color:#eee;}
[data-theme="dark"] .text-dark{color:#fff!important;}

/* BUTTONS */
[data-theme="dark"] .btn-link{color:#fff;}
[data-theme="dark"] .btn-close{filter:invert(1) grayscale(100%) brightness(200%);}
[data-theme="dark"] .btn-dark{color:#000;background-color:#f8f9fa;border-color:#f8f9fa;}
[data-theme="dark"] .btn-dark:hover{color:#000;background-color:#f9fafb;border-color:#f9fafb;}
[data-theme="dark"] .btn-check:focus + .btn-dark,[data-theme="dark"] .btn-dark:focus{color:#000;background-color:#f9fafb;border-color:#f9fafb;box-shadow:0 0 0 0.25rem rgba(211,212,213,0.5);}
[data-theme="dark"] .btn-check:checked + .btn-dark,[data-theme="dark"] .btn-check:active + .btn-dark,[data-theme="dark"] .btn-dark:active,[data-theme="dark"] .btn-dark.active,[data-theme="dark"] .show > .btn-dark.dropdown-toggle{color:#000;background-color:#f9fafb;border-color:#f9fafb;}
[data-theme="dark"] .btn-check:checked + .btn-dark:focus,[data-theme="dark"] .btn-check:active + .btn-dark:focus,[data-theme="dark"] .btn-dark:active:focus,[data-theme="dark"] .btn-dark.active:focus,[data-theme="dark"] .show > .btn-dark.dropdown-toggle:focus{box-shadow:0 0 0 0.25rem rgba(211,212,213,0.5);}
[data-theme="dark"] .btn-dark:disabled,[data-theme="dark"] .btn-dark.disabled{color:#000;background-color:#f8f9fa;border-color:#f8f9fa;}
[data-theme="dark"] .btn-light{color:#fff;background-color:#212529;border-color:#212529;}
[data-theme="dark"] .btn-light:hover{color:#fff;background-color:#1c1f23;border-color:#1a1e21;}
[data-theme="dark"] .btn-check:focus + .btn-light,[data-theme="dark"] .btn-light:focus{color:#fff;background-color:#1c1f23;border-color:#1a1e21;box-shadow:0 0 0 0.25rem rgba(66,70,73,0.5);}
[data-theme="dark"] .btn-check:checked + .btn-light,[data-theme="dark"] .btn-check:active + .btn-light,[data-theme="dark"] .btn-light:active,[data-theme="dark"] .btn-light.active,[data-theme="dark"] .show > .btn-light.dropdown-toggle{color:#fff;background-color:#1a1e21;border-color:#191c1f;}
[data-theme="dark"] .btn-check:checked + .btn-light:focus,[data-theme="dark"] .btn-check:active + .btn-light:focus,[data-theme="dark"] .btn-light:active:focus,[data-theme="dark"] .btn-light.active:focus,[data-theme="dark"] .show > .btn-light.dropdown-toggle:focus{box-shadow:0 0 0 0.25rem rgba(66,70,73,0.5);}
[data-theme="dark"] .btn-light:disabled,[data-theme="dark"] .btn-light.disabled{color:#fff;background-color:#212529;border-color:#212529;}
[data-theme="dark"] .btn-outline-dark{color:#f8f9fa;border-color:#f8f9fa;}
[data-theme="dark"] .btn-outline-dark:hover{color:#000;background-color:#f8f9fa;border-color:#f8f9fa;}
[data-theme="dark"] .btn-check:focus + .btn-outline-dark,[data-theme="dark"] .btn-outline-dark:focus{box-shadow:0 0 0 0.25rem rgba(248,249,250,0.5);}
[data-theme="dark"] .btn-check:checked + .btn-outline-dark,[data-theme="dark"] .btn-check:active + .btn-outline-dark,[data-theme="dark"] .btn-outline-dark:active,[data-theme="dark"] .btn-outline-dark.active,[data-theme="dark"] .btn-outline-dark.dropdown-toggle.show{color:#000;background-color:#f8f9fa;border-color:#f8f9fa;}
[data-theme="dark"] .btn-check:checked + .btn-outline-dark:focus,[data-theme="dark"] .btn-check:active + .btn-outline-dark:focus,[data-theme="dark"] .btn-outline-dark:active:focus,[data-theme="dark"] .btn-outline-dark.active:focus,[data-theme="dark"] .btn-outline-dark.dropdown-toggle.show:focus{box-shadow:0 0 0 0.25rem rgba(248,249,250,0.5);}
[data-theme="dark"] .btn-outline-dark:disabled,[data-theme="dark"] .btn-outline-dark.disabled{color:#f8f9fa;background-color:transparent;}
[data-theme="dark"] .btn-outline-light{color:#212529;border-color:#212529;}
[data-theme="dark"] .btn-outline-light:hover{color:#fff;background-color:#212529;border-color:#212529;}
[data-theme="dark"] .btn-check:focus + .btn-outline-light,[data-theme="dark"] .btn-outline-light:focus{box-shadow:0 0 0 0.25rem rgba(33,37,41,0.5);}
[data-theme="dark"] .btn-check:checked + .btn-outline-light,[data-theme="dark"] .btn-check:active + .btn-outline-light,[data-theme="dark"] .btn-outline-light:active,[data-theme="dark"] .btn-outline-light.active,[data-theme="dark"] .btn-outline-light.dropdown-toggle.show{color:#fff;background-color:#212529;border-color:#212529;}
[data-theme="dark"] .btn-check:checked + .btn-outline-light:focus,[data-theme="dark"] .btn-check:active + .btn-outline-light:focus,[data-theme="dark"] .btn-outline-light:active:focus,[data-theme="dark"] .btn-outline-light.active:focus,[data-theme="dark"] .btn-outline-light.dropdown-toggle.show:focus{box-shadow:0 0 0 0.25rem rgba(33,37,41,0.5);}
[data-theme="dark"] .btn-outline-light:disabled,[data-theme="dark"] .btn-outline-light.disabled{color:#212529;background-color:transparent;}

/* DROPDOWNS */
[data-theme="dark"] .dropdown-menu{color:#dee2e6;background-color:#343a40;border-color:rgba(0,0,0,0.15);}
[data-theme="dark"] .dropdown-menu .dropdown-item{color:#dee2e6;}
[data-theme="dark"] .dropdown-menu .dropdown-item:hover,[data-theme="dark"] .dropdown-menu .dropdown-item:focus{color:#fff;background-color:rgba(255,255,255,0.15);}
[data-theme="dark"] .dropdown-menu .dropdown-item.active,[data-theme="dark"] .dropdown-menu .dropdown-item:active{color:#fff;background-color:#0d6efd;}
[data-theme="dark"] .dropdown-menu .dropdown-item.disabled,[data-theme="dark"] .dropdown-menu .dropdown-item:disabled{color:#adb5bd;}
[data-theme="dark"] .dropdown-menu .dropdown-divider{border-color:rgba(0,0,0,0.15);}
[data-theme="dark"] .dropdown-menu .dropdown-item-text{color:#dee2e6;}
[data-theme="dark"] .dropdown-menu .dropdown-header{color:#adb5bd;}

/* LIST GROUPS */
[data-theme="dark"] .list-group-item-action{color:#fff;}
[data-theme="dark"] .list-group-item-action:hover,[data-theme="dark"] .list-group-item-action:focus{color:#fff;background-color:#333;}
[data-theme="dark"] .list-group-item-action:active{color:#212529;background-color:#e9ecef;}
[data-theme="dark"] .list-group-item{background-color:#111;border:1px solid #333;}
[data-theme="dark"] .list-group-item:not(:first-child){border-top:none;}
[data-theme="dark"] .list-group-item.disabled,[data-theme="dark"] .list-group-item:disabled{color:#fff;background-color:#000;}
[data-theme="dark"] .list-group-item.active{color:#fff;background-color:#0d6efd;border-color:#0d6efd;}

/* TABS */
[data-theme="dark"] .nav-tabs{border-bottom:1px solid #000;}
[data-theme="dark"] .nav-tabs .nav-link:hover,[data-theme="dark"].nav-tabs .nav-link:focus{border-color:#212529 #212529 #000;}
[data-theme="dark"] .nav-tabs .nav-link.disabled{color:#333;}
[data-theme="dark"] .nav-tabs .nav-link.active,[data-theme="dark"] .nav-tabs .nav-item.show .nav-link{color:#fff;background-color:#000;border-color:#212529 #212529 #000;}
[data-theme="dark"] .nav-link{color:var(--bs-light)!important;}

/* PAGINATION */
[data-theme="dark"] .page-link{color:#fff;background-color:#111;border:1px solid #333;}
[data-theme="dark"] .page-link:hover{color:#fff;background-color:#333;border-color:#333;}
[data-theme="dark"] .page-link:focus{color:#fff;background-color:#000;}
[data-theme="dark"] .page-item.active .page-link{color:#fff;background-color:#0d6efd;border-color:#0d6efd;}
[data-theme="dark"] .page-item.disabled .page-link{color:#fff;background-color:#000;border-color:#333;}

/* BACKGROUNDS */
[data-theme="dark"] .bg-light{background-color:#212529!important;}
[data-theme="dark"] .bg-dark{background-color:#f8f9fa!important;}
[data-theme="dark"] .bg-white{background-color:#000!important;}
[data-theme="dark"] .bg-white.text-white,[data-theme="dark"] .bg-dark.text-white,[data-theme="dark"] .bg-warning.text-dark,[data-theme="dark"] .bg-info.text-dark{color:#212529!important;}

/* BORDERS */
[data-theme="dark"] .border,[data-theme="dark"] .border-top,[data-theme="dark"] .border-end,[data-theme="dark"] .border-bottom,[data-theme="dark"] .border-start{border-color:#212529!important;}

/* BREADCRUMB */
[data-theme="dark"] .breadcrumb.border{border-color:#333!important;}

/* SHADOWS */
[data-theme="dark"] .shadow{box-shadow:0 0.5rem 1rem rgba(255,255,255,0.15)!important;}
[data-theme="dark"] .shadow-sm{box-shadow:0 0.125rem 0.25rem rgba(255,255,255,0.075)!important;}
[data-theme="dark"] .shadow-lg{box-shadow:0 1rem 3rem rgba(255,255,255,0.175)!important;}

/* CARDS */
[data-theme="dark"] .card{background-color:#000;border:1px solid rgba(255,255,255,0.125);}

/* MODALS */
[data-theme="dark"] .modal-content{background-color:#000;border:1px solid rgba(255,255,255,0.2);}
[data-theme="dark"] .modal-header{border-bottom:1px solid #212529;}
[data-theme="dark"] .modal-footer{border-top:1px solid #212529;}
[data-theme="dark"] .modal-backdrop.show{opacity:0.75;}

/* ACCORDIONS */
[data-theme="dark"] .accordion:not(.accordion-flush){border-top:1px solid #333;border-top-left-radius:0.25rem!important;border-top-right-radius:0.25rem!important;}
[data-theme="dark"] .accordion-button{color:#fff;background-color:#000;border:1px solid #333;border-top:none;}
[data-theme="dark"] .accordion-button:not(.collapsed){color:#fff;background-color:#111;border-bottom:none;}
[data-theme="dark"] .accordion-button::after{filter:invert(1) grayscale(100%) brightness(200%);}
[data-theme="dark"] .accordion-collapse{border:1px solid #333;}
[data-theme="dark"] .accordion-flush .accordion-button{border-right:0;border-left:0;border-radius:0;}
[data-theme="dark"] .accordion-flush .accordion-collapse{border-width:0;}
[data-theme="dark"] .accordion-flush .accordion-item:first-of-type .accordion-button{border-top-width:0;border-top-left-radius:0;border-top-right-radius:0;}
[data-theme="dark"] .accordion-flush .accordion-item:last-of-type .accordion-button.collapsed{border-bottom-width:0;border-bottom-right-radius:0;border-bottom-left-radius:0;}

/* PROGRESS BARS */
[data-theme="dark"] .progress{background-color:#333;}

/* FORMS */
[data-theme="dark"] .form-control::-webkit-input-placeholder,[data-theme="dark"] .form-control::-moz-placeholder,[data-theme="dark"] .form-control::placeholder{color:#ccc;}
[data-theme="dark"] .form-control-plaintext{color:#ccc;}
[data-theme="dark"] .form-control{color:#fff;background-color:#333;border:1px solid #111;}
[data-theme="dark"] .form-select{color:#fff;border-color:#111!important;background:#333 url("data:image/svg+xml,%3csvg xmlns=!string!width=!string!height=!string!viewBox=!string!%3e%3cpath fill=!string!d=!string!/%3e%3c/svg%3e") no-repeat right 0.75rem center/8px 10px;border:1px solid #111;}

/* THUMBNAIL */
[data-theme='dark'] img{-webkit-filter:brightness(0.75);filter:brightness(0.75)}
[data-theme='dark'] pre{background:var(--bs-dark);border-color:var(--gray-dark);color:var(--bs-light);box-shadow:0px 4px 3px -3px var(--bs-dark);}

/**
-  Theme css
----------------------------------------*/
*,:after,:before{-webkit-box-sizing:border-box;box-sizing:border-box}
@media(prefers-reduced-motion:no-preference){
	:root{scroll-behavior:smooth}
}
img{max-width:100%}
pre{display:block;margin-top:0;margin-bottom:1rem;overflow:auto;font-size:0.875em;padding:0.5rem;border-radius:3px;background:var(--bs-dark);border-color:var(--gray-dark);color:var(--bs-light);box-shadow:0px 4px 3px -3px var(--bs-dark);}

/* Dark mode switcher
-------------------*/
#darkModeSwitcher{bottom:1rem;left:1rem;font-size:14px;padding:7px 9px 3px!important;margin:0;border-radius:5px!important;z-index:2;}

/* Iframe
-------------------*/
.iframe,table{margin:0;width:100%}
.iframe,.video{position:relative;display:block;padding:0;padding-top:56.25%}
.iframe:before,.video:before{display:block;padding-bottom:80%}
.iframe embed,.iframe iframe,.iframe object,.video video{border:0;height:100%;left:0;position:absolute;top:0;width:100%}
.iframe video,.video video{width:100%;height:auto}

/* Fix alert margin
---------------------*/
.alert p{margin:0;}

/*  video
----------------------------*/
video{width:100%;height:auto;}

/*  progress
----------------------------*/
#progress{position:fixed;top:0;left:0;width:100%;height:100%;z-index:9999;background:var(--bs-dark);display:flex;align-items:center;justify-content:center;}
.loader{width:48px;height:48px;display:inline-block;position:relative;transform:rotate(45deg);}
.loader::before{content:"";width:24px;height:24px;position:absolute;left:0;top:-24px;animation:animloader59 4s ease infinite;}
.loader::after{content:"";position:absolute;left:0;top:0;width:24px;height:24px;background:rgba(255,255,255,0.85);box-shadow:0 0 10px rgba(0,0,0,0.15);animation:animloader56 2s ease infinite;}
@keyframes animloader56{
	0%{transform:translate(0,0) rotateX(0) rotateY(0);}
	25%{transform:translate(100%,0) rotateX(0) rotateY(180deg);}
	50%{transform:translate(100%,100%) rotateX(-180deg) rotateY(180deg);}
	75%{transform:translate(0,100%) rotateX(-180deg) rotateY(360deg);}
	100%{transform:translate(0,0) rotateX(0) rotateY(360deg);}
}
@keyframes animloader59{
	0%{box-shadow:0 24px rgba(255,255,255,0),24px 24px rgba(255,255,255,0),24px 48px rgba(255,255,255,0),0px 48px rgba(255,255,255,0);}
	12%{box-shadow:0 24px white,24px 24px rgba(255,255,255,0),24px 48px rgba(255,255,255,0),0px 48px rgba(255,255,255,0);}
	25%{box-shadow:0 24px white,24px 24px white,24px 48px rgba(255,255,255,0),0px 48px rgba(255,255,255,0);}
	37%{box-shadow:0 24px white,24px 24px white,24px 48px white,0px 48px rgba(255,255,255,0);}
	50%{box-shadow:0 24px white,24px 24px white,24px 48px white,0px 48px white;}
	62%{box-shadow:0 24px rgba(255,255,255,0),24px 24px white,24px 48px white,0px 48px white;}
	75%{box-shadow:0 24px rgba(255,255,255,0),24px 24px rgba(255,255,255,0),24px 48px white,0px 48px white;}
	87%{box-shadow:0 24px rgba(255,255,255,0),24px 24px rgba(255,255,255,0),24px 48px rgba(255,255,255,0),0px 48px white;}
	100%{box-shadow:0 24px rgba(255,255,255,0),24px 24px rgba(255,255,255,0),24px 48px rgba(255,255,255,0),0px 48px rgba(255,255,255,0);}
}

/** - divider
----------------------------*/
.divider{position:relative;margin:0;margin-bottom:2rem;letter-spacing:1.9px;}
.divider:after{content:"";position:absolute;bottom:-0.8rem;left:0;padding:0.2em;width:77%;border-bottom:1px solid var(--bs-light);z-index:2;}
.divider:before{content:"";position:absolute;bottom:-0.8rem;left:0;padding:0.2em;width:10%;border-bottom:1px solid var(--bs-primary);z-index:3;}

/** - dropdown
----------------------------*/
.dropdown-menu{border-radius:.15rem;}

/** - navbar dark menu
----------------------------*/
.navbar-dark .dropdown-menu{border-radius:0;}
@media (min-width:960px){
	header .show {background: var(--bs-dark) !important;}
}
@media (min-width:600px){
	.dropdown-menu li a{padding-left:1rem!important;}
}
@media (min-width:320px){
	.dropdown-menu li a{padding-left:1rem!important;}
}
.navbar-brand span:last-child{line-height:1;font-size:0.8rem;letter-spacing:1.8px;}
.nav-link{color:var(--bs-light);}

/** -logo
-----------------*/
.logo img{width:3rem;padding:0.1rem;border-radius:10%;margin:0.3rem 0.5rem 0 0;}
.logo{width:25rem;}

/** - media queries
----------------------*/
@media (max-width:600px){
	img{width:100%}
	.color{width:4rem;height:4rem;font-size:14px;}
	.logo{width:14.3rem;}
	.logo img{width:2.4rem;border-radius:10%;margin:0.5rem 0.3rem 0 0;}
}
@media (max-width:360px){
	.color{width:4rem;height:4rem;font-size:11px;}
	.logo{width:auto;}
	.logo img{display:none;width:auto}
}

/** - zoom images
----------------------*/
.zoom{cursor:pointer;cursor:zoom-in;}
.image-zoom,.zoom-out{position:fixed;top:0;left:0;right:0;bottom:0;margin:auto;z-index:200;cursor:zoom-out;transform:scale(1);width:calc(100% - 6rem);}
.overlay-zoom{position:fixed;top:0;left:0;width:100%;height:100%;background:rgb(0,0,0,0.5);z-index:100;animation:overlay-in 200ms 1 ease-in;}
@keyframes overlay-in{
	0%{opacity:0;}
}
.image-zoom{animation:zoom-in 200ms 1 ease-in;}
@keyframes zoom-in{
	0%{opacity:0;transform:scale(0);}
}
.zoom-out{animation:zoom-out 200ms 1 ease-in;}
@keyframes zoom-out{
	100%{transform:scale(0);}
}
@media (min-width:1200px){
	.image-zoom,.zoom-out{transform:scale(0.7);width:calc(100% - 6rem);}
}
@media (max-width:1200px){
	.image-zoom,.zoom-out{transform:scale(1);width:calc(100% - 6rem);}
}
@media (max-width:768px){
	.image-zoom,.zoom-out{transform:scale(1);width:calc(100% - 6rem)}
}
@media (max-width:400px){
	.image-zoom,.zoom-out{transform:scale(1);width:calc(100% - 6rem)}
}

/** - Cookie consent
 --------------------------------*/
.cc-window{background:var(--bs-light)}
[data-theme='dark'] .cc-window{background:var(--bs-dark)}

/** - Box post
 --------------------------------*/
.box-post{background:var(--bs-info);color:var(--bs-light);display:flex;justify-content:center;align-items:center;font-family:inherit;letter-spacing:1.8px;text-transform:uppercase;font-weight:bold;}
[data-theme='dark'] .box-post{background:var(--bs-gray);color:var(--bs-light)}
